<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="seller-auth">
        <div class="signup">
            <h1 class="sign-up"> Seller Sign-Up</h1>
            <form class="common-form">
                <input class="form-input" type="text" placeholder="Enter Name">
                <input class="form-input" type="password" placeholder="Enter password">
                <input class="form-input" type="email" placeholder="Enter Email">
                <button class="form-button">Signup</button>
            </form>
        </div>
    </div>

</body>
</html>