<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row search-item" *ngFor="let item of searchProducts">
        <div class="col-sm-3">
            <img src="{{item.image}}" alt="">
        </div>
        <div class="col-sm-8 details">
            <h6>{{item.name}}</h6>
            <p><b> price: {{item.price}}</b></p>
            <p><span>Color: {{item.color}}</span> <span>{{item.category}}</span></p>
            <p> {{item.description}}</p>
        </div>
    </div>
</body>

</html>