<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row search-item">
        <div class="col-sm-3">
            <img src="https://www.91-img.com/pictures/136302-v8-xiaomi-redmi-9-mobile-phone-large-1.jpg?tr=q-80" alt="">
        </div>
        <div class="col-sm-8 details">
            <h6> Product Name:</h6>
            <p><b> price: 10000</b></p>
            <p><span>Color: Red</span> <span>Category Mobile</span></p>
            <p> A product searh UI</p>
        </div>
    </div>
</body>

</html>