<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="container-fluid">
		<ngb-carousel *ngIf="productsList">
			<ng-template *ngFor="let product of productsList" ngbSlide>
				<div class="picsum-img-wrapper">
					<img class="product-header-image" src="{{product.image}}" alt="Random first slide" />
				</div>
				<div class="carousel-caption">
					<h3>{{product.name}}</h3>
					<p>{{product.description}}</p>
				</div>
			</ng-template>
		</ngb-carousel>

		<div class="product-list-wrapper">
			<h1> Trendy Products</h1>
			<div class="row">
				<div class="col-sm-3">
					<div class="product-item">
						<img src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-m40-1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>